<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >



<suite name="Banking" configfailurepolicy="continue">
	<listeners>
		<listener class-name="com.Banking.utilities.Reporting"/>
	</listeners>
	<test name="BankingApp Test">
		<parameter name="browser" value="chrome" />
		<classes>
			<class name="com.Banking.testCases.TC_LoginTest" />
<!-- 			<class name="com.Banking.testCases.TC_LoginTestDDT" /> -->
		</classes>

	</test>

</suite>
